    body {
      font-family: serif;
      background: linear-gradient(to bottom, #98122A, #1D0512);
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }
    

    .card {
      background: #2a1e2f;
      padding: 2rem;
      border-radius: 20px;
      box-shadow: 0 0 30px rgba(255, 0, 100, 0.3);
      text-align: center;
      max-width: 420px;
    }

    .glow-on-hover {
      width: 220px;
      height: 50px;
      border: none;
      outline: none;
      color: #fff;
      background: #111;
      cursor: pointer;
      position: relative;
      z-index: 0;
      border-radius: 10px;
    }

    .glow-on-hover:before {
      content: '';
      background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
      position: absolute;
      top: -2px;
      left: -2px;
      background-size: 400%;
      z-index: -1;
      filter: blur(5px);
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      animation: glowing 20s linear infinite;
      opacity: 0;
      transition: opacity .3s ease-in-out;
      border-radius: 10px;
    }

    .glow-on-hover:active {
      color: #000
    }

    .glow-on-hover:active:after {
      background: transparent;
    }

    .glow-on-hover:hover:before {
      opacity: 1;
    }

    .glow-on-hover:after {
      z-index: -1;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: #111;
      left: 0;
      top: 0;
      border-radius: 10px;
    }

    @keyframes glowing {
      0% {
        background-position: 0 0;
      }

      50% {
        background-position: 400% 0;
      }

      100% {
        background-position: 0 0;
      }
    }

    h1 {
      font-size: 1.6rem;
      color: #ff4d6d;
      margin-bottom: 1rem;
    }

    h3{
      font-size: 1.3rem;
      font-weight: bolder;
    }

    #desafio {
      font-family: serif;
      font-size: 1.4rem;
      font-weight: bolder;
      color: rgb(255, 238, 206);
      min-height: 80px;
      padding-top: 30px;

    }

    select,
    button {
      padding: 0.7rem 1rem;
      border: none;
      border-radius: 10px;
      margin-top: 1rem;
      cursor: pointer;
      font-size: 1rem;
    }

    select {
      background-color: #4b2a3e;
      color: #fff;
    }