body {
  font-family: serif;
  background: linear-gradient(to bottom, #98122A, #1D0512);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.card {
  background: #2a1e2f;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(255, 0, 100, 0.3);
  text-align: center;
  max-width: 680px;
  width: 90%;
}

h1 {
  font-size: 2.6rem;
  color: #ff4d6d;
}

.custom-select-wrapper {
  position: relative;
  width: 100%;
  font-family: inherit;
}

.custom-select {
  background-color: #4b2a3e;
  color: #fff;
  padding: 0.7rem 1rem;
  border-radius: 10px;
  font-size: 2.4rem;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
}

.custom-select:hover {
  background-color: #5c334f;
}

.arrow {
  margin-left: 10px;
}

.options {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #4b2a3e;
  border-radius: 10px;
  margin-top: 5px;
  display: none;
  z-index: 10;
  border: 1px solid #ff4d6d;
  font-size: 2.4rem;
  font-weight: bold;
  
}

.options li {
  padding: 0.7rem 1rem;
  cursor: pointer;
  color: #fff;
}

.options li:hover {
  background-color: #ff4d6d;
  color: #2a1e2f;
}
